// variables

// widths
    $desktop-width: 126rem;

// Colors
    $main-bg-color: #23272A;
    $btn-alt-color: rgb(114, 137, 218);
    $card-bg-color: #F6F6F6;
    $brand: #7289da;

// fonts
    $font-fam: Whitney, "Helvetica Neu", Helvetica, Arial, sans-serif;
    $fa-font-path: "../font";

//breakpoints
    $bp-tablet: 48rem;
    $bp-laptop: 64rem;

// resets
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-fam;
}

// mixins
@mixin bp-devices($size) {
    @media screen and (max-width: $bp-laptop) {
        font-size: $size + rem;
    }
}

// 


// root
html {
    font-size: 62.5%;
}

// utility class
.container {
    max-width: $desktop-width;
    margin: 0 auto;
    padding: 3rem;
    // DEFAULT DEAFULAT DEAFULT DEFAULT DEAFULT DEAFULAT DEFAULT DEAFULT
    border: none;
}

.btn {
    text-decoration: none;
    border-radius: 4rem;
    background-color: $btn-alt-color;
    padding: 2rem;
    color: white;
    font-size: 2rem;
}


// nav
.header {
    background-color: $main-bg-color;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: $bp-tablet) {
        display: none;
    }

    &__logo {
        color: white;
    }

    &__links {
        display: flex;
        list-style: none;

        &__item {
            margin: 0 2rem;
            text-decoration: none;
            color: white;
            font-size: 1.6rem;
            font-weight: bold;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__btn {
        color: black;
        background-color: white;
        font-size: 1.6rem;
        padding: 1.25rem;
    }
}

// main
.main {
    background-color: $main-bg-color;
    display: flex;
    
    &__section {
        display: flex;
        height: 55rem;
        align-items: center;
    }

    &__txt {
        display: flex;
        flex-direction: column;
        // align-content: ;
        justify-content: space-evenly;
        color: white;
        height: 80%;
        width: 50%;

        &__title {
            font-size: 5.6rem;
            // margin: 4rem 0;
        }

        &__descript {
            font-size: 2.4rem;
            // margin: 4rem 0; 
        }

        &__download {
            display: flex;
            align-items: center;
        }

        &__btn {
            display: flex;
            align-items: center;
            padding: 2rem 4rem;
            transition: all .2s;
            

            &:hover {
                background-color: #8EA1E1;
                transition: all .2s;
            }

        }

        &__info {
            font-size: 1.6rem;
            margin: 0 2rem;
        }
    }

    &__img {
        height: 35rem;
        width: 50%;

        
    }

}

// content

.content {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem 1rem;
    margin-top: 6rem;

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $card-bg-color;
        height: 60rem;
        // margin: 4rem;
        border-radius: 2rem;
        overflow: hidden;

        &__header {
            font-size: 4rem;
            font-weight: 460;
            margin: 5rem 0 2rem 0;
        }

        &__download {
            padding: 2rem 3.5rem;
            margin-bottom: 5rem;
            background-color: #23272A;
            transition: all .2s;

            &:hover {
                transition: all .2s;
                opacity: .8;
                box-shadow: 0 8px 15px rgb(0 0 0 / 20%);
            }
        }
        
        &__experimental {
            display: flex;
            align-items: flex-start;
            height: auto;
            padding: 4rem;
            margin: -40rem 0 10rem 0;
            justify-content: space-evenly;

            &__btn {
                margin: 0;
            }
        }

        &__info {
            font-size: 2rem;
            margin-bottom: 2rem;
        }
    }

    &__android {
        margin-top: 20rem;
    }

    &__linux {
        margin-top: -20rem;
    }
}

// footer

.footersection {
    background-color: $main-bg-color;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    // border-bottom: solid 1px $brand;

    &__section {
        display: flex;
        flex-direction: column;
    }

    &__header {
        color: #7289da;
        font-size: 2rem;
        margin: 5rem 0 2rem 0;
        // @media screen and (max-width: $bp-laptop) {
        //     font-size: 1.5rem;
        // }
        @include bp-devices(1.5);
    }

    &__slogan {
        font-size: 3rem;
        @include bp-devices(2.5);
    }

    &__link {
        text-decoration: none;
        color: white;
        font-size: 2rem;
        font-weight: 100;
        margin: 1rem 0;
        // @media screen and (max-width: $bp-laptop) {
        //     font-size: 1.5rem;
        // }
        @include bp-devices(1.5);

        &:hover {
            text-decoration: underline;
        }
    }

    &__hotlinks {
        margin: 0 1rem;
        font-size: 3rem;
        // @media screen and (max-width: $bp-laptop) {
        //     font-size: 2.5rem;
        // }
        @include bp-devices(2.5);
    }
}

.scndfooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: solid 1px $brand;
    padding-top: 3rem;

    &__btn {
        color: white;
        background-color: $brand;
        font-size: 1.6rem;
        padding: 1.25rem;

        &:hover {
            transition: all .2s;
            opacity: .8;
            box-shadow: 0 8px 15px rgb(0 0 0 / 20%);
        }
    }
}