* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Whitney, "Helvetica Neu", Helvetica, Arial, sans-serif;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 126rem;
  margin: 0 auto;
  padding: 3rem;
}

.btn {
  text-decoration: none;
  border-radius: 4rem;
  background-color: #7289da;
  padding: 2rem;
  color: white;
  font-size: 2rem;
}

.header {
  background-color: #23272A;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__logo {
  color: white;
}
.navbar__links {
  display: flex;
  list-style: none;
}
.navbar__links__item {
  margin: 0 2rem;
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
}
.navbar__links__item:hover {
  text-decoration: underline;
}
.navbar__btn {
  color: black;
  background-color: white;
  font-size: 1.6rem;
  padding: 1.25rem;
}

.main {
  background-color: #23272A;
  display: flex;
}
.main__section {
  display: flex;
  height: 55rem;
  align-items: center;
}
.main__txt {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
  height: 80%;
  width: 50%;
}
.main__txt__title {
  font-size: 5.6rem;
}
.main__txt__descript {
  font-size: 2.4rem;
}
.main__txt__download {
  display: flex;
  align-items: center;
}
.main__txt__btn {
  display: flex;
  align-items: center;
  padding: 2rem 4rem;
  transition: all 0.2s;
}
.main__txt__btn:hover {
  background-color: #8EA1E1;
  transition: all 0.2s;
}
.main__txt__info {
  font-size: 1.6rem;
  margin: 0 2rem;
}
.main__img {
  height: 35rem;
  width: 50%;
}

.content {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem 1rem;
  margin-top: 6rem;
}
.content__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
  height: 60rem;
  border-radius: 2rem;
  overflow: hidden;
}
.content__card__header {
  font-size: 4rem;
  font-weight: 460;
  margin: 5rem 0 2rem 0;
}
.content__card__download {
  padding: 2rem 3.5rem;
  margin-bottom: 5rem;
  background-color: #23272A;
  transition: all 0.2s;
}
.content__card__download:hover {
  transition: all 0.2s;
  opacity: 0.8;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
.content__card__experimental {
  display: flex;
  align-items: flex-start;
  height: auto;
  padding: 4rem;
  margin: -40rem 0 10rem 0;
  justify-content: space-evenly;
}
.content__card__experimental__btn {
  margin: 0;
}
.content__card__info {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.content__android {
  margin-top: 20rem;
}
.content__linux {
  margin-top: -20rem;
}

.footersection {
  background-color: #23272A;
}

.footer {
  display: flex;
  justify-content: space-between;
}
.footer__section {
  display: flex;
  flex-direction: column;
}
.footer__header {
  color: #7289da;
  font-size: 2rem;
  margin: 5rem 0 2rem 0;
}
.footer__slogan {
  font-size: 3rem;
}
.footer__link {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  font-weight: 100;
  margin: 1rem 0;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__hotlinks {
  margin: 0 1rem;
  font-size: 3rem;
}

.scndfooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: solid 1px #7289da;
  padding-top: 3rem;
}
.scndfooter__btn {
  color: white;
  background-color: #7289da;
  font-size: 1.6rem;
  padding: 1.25rem;
}
.scndfooter__btn:hover {
  transition: all 0.2s;
  opacity: 0.8;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

/*# sourceMappingURL=style.css.map */
