* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Whitney, "Helvetica Neu", Helvetica, Arial, sans-serif;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 126rem;
  margin: 0 auto;
  padding: 3rem;
  border: none;
}

.btn {
  text-decoration: none;
  border-radius: 4rem;
  background-color: #7289da;
  padding: 2rem;
  color: white;
  font-size: 2rem;
}

.header {
  background-color: #23272A;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__logo {
  color: white;
}
.navbar__links {
  display: flex;
  list-style: none;
}
@media screen and (max-width: 64rem) {
  .navbar__links {
    display: none;
  }
}
.navbar__links__item {
  margin: 0 2rem;
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
}
.navbar__links__item:hover {
  text-decoration: underline;
}
.navbar__btn {
  color: black;
  background-color: white;
  font-size: 1.6rem;
  padding: 1.25rem;
}

.main {
  background-color: #23272A;
  display: flex;
}
@media screen and (max-width: 48rem) {
  .main {
    height: 40rem;
  }
}
.main__section {
  display: flex;
  height: 55rem;
  align-items: center;
}
@media screen and (max-width: 48rem) {
  .main__section {
    flex-direction: column;
    align-items: flex-start;
  }
}
.main__txt {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
  height: 80%;
  width: 50%;
}
@media screen and (max-width: 48rem) {
  .main__txt {
    width: 100%;
    height: 100%;
    justify-content: flex-start;
  }
}
.main__txt__title {
  font-size: 5.6rem;
}
@media screen and (max-width: 48rem) {
  .main__txt__title {
    font-size: 4rem;
  }
}
.main__txt__descript {
  font-size: 2.4rem;
}
@media screen and (max-width: 48rem) {
  .main__txt__descript {
    margin: 3rem 0;
  }
}
.main__txt__download {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 64rem) {
  .main__txt__download {
    flex-direction: column;
    align-items: flex-start;
  }
}
.main__txt__dwnld {
  fill: white;
  margin: 0 1rem;
}
.main__txt__btn {
  display: flex;
  align-items: center;
  padding: 2rem 4rem;
  transition: all 0.2s;
}
.main__txt__btn:hover {
  background-color: #8EA1E1;
  transition: all 0.2s;
}
@media screen and (max-width: 48rem) {
  .main__txt__btn {
    width: 100%;
    justify-content: center;
  }
}
.main__txt__info {
  font-size: 1.6rem;
  margin: 0 2rem;
}
@media screen and (max-width: 64rem) {
  .main__txt__info {
    margin: 3rem 0;
    text-align: center;
  }
}
@media screen and (max-width: 48rem) {
  .main__txt__info {
    width: 100%;
  }
}
.main__imgcontainer {
  width: 50%;
  height: 100%;
}
@media screen and (max-width: 48rem) {
  .main__imgcontainer {
    display: none;
  }
}
.main__img {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 48rem) {
  .main__img {
    display: none;
  }
}

.content {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem 1rem;
  margin-top: 6rem;
}
@media screen and (max-width: 48rem) {
  .content {
    display: flex;
    flex-direction: column;
  }
}
.content__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
  height: 60rem;
  border-radius: 2rem;
  overflow: hidden;
  padding: 4rem;
}
@media screen and (max-width: 48rem) {
  .content__card {
    height: 36.3rem;
  }
}
@media screen and (max-width: 48rem) {
  .content__card {
    margin: 1rem 0;
  }
}
.content__card__header {
  font-size: 4rem;
  font-weight: 460;
  margin: 5rem 0 2rem 0;
}
@media screen and (max-width: 48rem) {
  .content__card__header {
    margin: 2rem 0;
  }
}
.content__card__download {
  padding: 2rem 3.5rem;
  margin-bottom: 5rem;
  background-color: #23272A;
  transition: all 0.2s;
}
@media screen and (max-width: 48rem) {
  .content__card__download {
    margin-bottom: 2rem;
  }
}
.content__card__download:hover {
  transition: all 0.2s;
  opacity: 0.8;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
.content__card__experimental {
  display: flex;
  align-items: flex-start;
  height: auto;
  padding: 4rem;
  margin: -40rem 0 10rem 0;
  justify-content: space-evenly;
}
@media screen and (max-width: 48rem) {
  .content__card__experimental {
    margin: 1rem 0;
  }
}
.content__card__experimental__btn {
  margin: 0;
}
.content__card__info {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.content__card__img {
  width: auto;
  margin: 0 auto;
}
@media screen and (max-width: 48rem) {
  .content__card__img {
    width: 100%;
  }
}
.content__android {
  margin-top: 20rem;
}
@media screen and (max-width: 48rem) {
  .content__android {
    margin: 1rem 0;
  }
}
.content__linux {
  margin-top: -20rem;
}
@media screen and (max-width: 48rem) {
  .content__linux {
    margin: 1rem 0;
  }
}

.footersection {
  background-color: #23272A;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media screen and (max-width: 64rem) {
  .footer {
    padding: 2rem 0;
  }
}
@media screen and (max-width: 48rem) {
  .footer {
    flex-direction: column;
    align-content: space-between;
  }
}
.footer__right {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-around;
}
@media screen and (max-width: 64rem) {
  .footer__right {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
    width: 50%;
    height: 70rem;
  }
}
.footer__left {
  width: 30%;
}
@media screen and (max-width: 48rem) {
  .footer__left {
    margin-bottom: 3rem;
  }
}
.footer__section {
  display: flex;
  flex-direction: column;
}
.footer__header {
  color: #7289da;
  font-size: 2rem;
  margin: 5rem 0 2rem 0;
}
@media screen and (max-width: 64rem) {
  .footer__header {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 64rem) {
  .footer__header {
    margin: 1rem 0;
  }
}
.footer__slogan {
  font-size: 3rem;
}
@media screen and (max-width: 64rem) {
  .footer__slogan {
    font-size: 2.5rem;
  }
}
.footer__link {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  font-weight: 100;
  margin: 1rem 0;
}
@media screen and (max-width: 64rem) {
  .footer__link {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 64rem) {
  .footer__link {
    margin: 0.75rem 0;
  }
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__hotlinks {
  margin: 0 1rem;
  font-size: 3rem;
}
@media screen and (max-width: 64rem) {
  .footer__hotlinks {
    font-size: 2.5rem;
  }
}

.scndfooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: solid 1px #7289da;
  padding-top: 3rem;
}
.scndfooter__btn {
  color: white;
  background-color: #7289da;
  font-size: 1.6rem;
  padding: 1.25rem;
}
.scndfooter__btn:hover {
  transition: all 0.2s;
  opacity: 0.8;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

/*# sourceMappingURL=style.css.map */
